<%- include("partials/head.ejs") %>
<a href="/"><button>Back</button></a>
<h1>Create new item</h1>
<form action="/items" method="POST">
    <label>Item number</label>
    <input name="itemNumber"/>
    <br>
    <label>Item name</label>
    <input name="itemName"/>
    <br>
    <label>Price</label>
    <input name="price"/>
    <br>
    <label>Quantity</label>
    <input name="quantity"/>
    <br>
    <label>Made in</label>
    <input name="madeIn"/>
    <br>
    <button type="submit">Create item</button>
    
</form>
<a href="/"><button>Cancel</button></a>
<%- include("partials/footer.ejs") %>